#contenedor {
    width: 80%;
}

@font-face {
    font-family: "dk_crayon_crumble"!important;
    src: url("/dk_crayon_crumble/dk_crayonc_rumble.ttf") format('ttf')!important;
}

#h_3 {
    font-family: serif;
    margin-top: 2.4em;
    margin-left: 0.7em;
}

#video-home{

}

input {
    border-radius: 4px!important;
    border: 1px solid grey!important;
    color: white!important;
}

h1 {
    color: #424242;
    font-family: Infinity!important;
}

button {
    border-radius: 4px!important;
}

label {
    color: white!important;
    font-size: 14px!important;
}

.title_logo {}

.feature-icon {
    font-size: 77px;
    text-align: center;
    color: black;
}

.lg {
    padding: 0.5em;
    margin-bottom: 19px;
}

.feature-description {
    text-align: center;
    font-family: Serif;
    font-size: 17px;
    color: grey;
}

.logo-all {
    border: 1px solid grey;
    border-radius: 50%;
}

.p-f {}

.p-l {}

#question {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 70%;
    color: white;
    font-family: "dk_crayon_crumble"!important;
    font-size: 57px;
}

.feature-title {
    text-align: center;
    font-family: Serif;
    font-size: 17px;
    font-weight: bold;
    color: grey;
}

.serif {
    font-family: Serif;
    font-weight: lighter;
}

.p {
    font-size: 17px;
}

#paralax {
    height: 500px;
}

.paralax {
    height: 200px;
}

.parallax-container {
    height: 750px;
}

#h_6 {
    margin-top: 2em;
    font-size: 18px;
    margin-left: 1.4em;
    font-family: Serif;
}

button {
    border-radius: 4px;
}

#im {
    width: 450px;
    height: 450px;
    margin-left: 4em;
    margin-top: 3.2em;
}

#menu {
    position: fixed;
    height: 77px;
}

.tabs .indicator {
    background-color: white;
}

#Menu {
    z-index: 5;
}

.mini-logo {
    margin-left: 0.4em;
}

#logo {
    margin-top: 0.2em;
    height: 67px;
    width: 67px;
}

#en {
    background: #8F0000;
}

span {
    font-family: Rounded_Elegance;
}

label {
    font-family: Rounded_Elegance;
}

h6 {
    font-family: Rounded_Elegance;
}

#lo {
    margin-left: 0.7em;
}

#slider {
    width: 100%;
}

.btn-contact-span {
    font-size: 19px;
    margin-left: 1em;
}

.elegance {
    font-family: Rounded_Elegance;
}

.btn-contact {
    color: white;
    margin-left: 4em;
    border-radius: 4px;
    height: 57px;
    width: 221px;
    font-size: 21px;
    padding: 0.4em;
}

.tipo_letra {
    font-family: serif;
}

.foter {
    width: 100%;
    border-top: 1px solid #e0e0e0;
}

.fondo_slider {
    margin: 0;
    padding: 0;
}

#video-background {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 5!important;
    background: black;
}

#a {
    border-radius: 4px;
    color: black;
}

#di {
    overflow: hidden;
}

#imh {
    height: 37px;
}

#iv {
    margin-left: 5.5em;
}

.mini_log {
    font-size: 47px;
}

#contenedor_2 {
    width: 80%;
    margin-left: 14em;
}

.titulo {
    color: #757575;
}

.nav_hidden {
    z-index: 5;
    position: fixed;
    top: 144px;
    left: 0px;
    width: 100%;
    height: 477px;
    background: ghostwhite;
}

.navbar-block {
    z-index: 5;
    position: fixed;
    top: 144px;
    left: 0px;
    width: 100%;
    height: 477px;
    display: block;
}

.content-tab {
    border-radius: 7px!important;
}

.borde {
    height: 160px;
}

.text-footer {
    margin-left: 5em;
}

#sidenav_2 {
    z-index: 2;
    display: none;
    height: 777px;
    width: 100%;
    position: fixed;
    top: 81px;
    left: 0px;
    background: #ffffff;
    opacity: 0.97;
}

.alt {
    height: 27px;
}

.close-know-me {
    font-size: 27px;
    color: white;
    margin-top: 1em;
    margin-right: 1em;
    text-align: center;
}

#targe {
    margin-left: 2em;
}

#des {
    margin-top: 1em;
}

#vis {
    margin-top: 1em;
}

#quienes {
    color: grey;
    font-family: Rounded_Elegance;
}

#m {
    margin-top: 2.7em;
}

#mm {
    margin-top: 4.7em;
}

#v {
    margin-top: 2.7em;
}

#barra {
    margin-right: 2em;
}

.btn-marging {
    margin-top: 0.2em;
}

.example-desc {
    background: black;
    height: 163px;
    opacity: 0.7;
    color: white;
}

.slider {
    z-index: 1;
}

.embed-container {
    position: absolute;
    overflow: hidden;
    z-index: 5;
    left: 0;
    top: 12%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.footer {
    width: 100%;
    height: 291px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.img-footer {
    width: 57px;
    height: 57px;
}

.footer-info::after {
    content: " Estamos aqui para asistirte. ¡ No dudes en contáctarnos !";
    font-size: 17px;
    margin-left: 1.7em;
    color: black;
}

@media only screen and (max-width: 900px) {
    #video-background {
        height: 211px;
        position: relative;
        width: 400%;
        z-index: -5;
        background: black;
    }
    .text-footer {
        margin-left: 1em;
        font-size: 9px;
    }
    .footer-info {
        font-size: 14px;
        margin-left: 2em;
    }
    .footer-info::after {
        content: " Estamos aqui para asistirte. ¡ No dudes en contáctarnos !";
        font-size: 9px;
        margin-left: 1em;
        color: black;
    }
    .img-footer {
        width: 17px;
        height: 17px;
    }
    .btn-contact-span {
        font-size: 9px;
        margin-left: 0.1em;
    }
    .btn-contact {
        color: white;
        margin-right: 1.7em;
        border-radius: 4px;
        height: 31px;
        width: 171px;
        padding: 0.1em;
    }
    #question {
        position: absolute;
        left: 20%;
        top: 10%;
        width: 70%;
        color: white;
        font-family: "dk_crayon_crumble";
        font-size: 37px;
    }
    .message-center {
        margin-top: 5%;
        height: 231px;
    }
    .child-message-center {
        margin-top: 3em;
    }
}
