<app-header-home></app-header-home>
<br><br><br>
<div id="sidenav_2">
  <div class="row">
    <div class='col s12 alt right-align'><a href="#!" class="close-know-me btn-floating z-depth-2 conoceme">x</a>
    </div>
    <div class='col s12 alt'></div>

    <div class="col m3 l4 center m">
      <div class="feature-icon">
        <h5 id="quienes">MISIÓN</h5>
      </div>
      <div class="feature-description" id="des">Somos una Plataforma interactiva de Tienda online Multinivel, que
        conecta al productor del campo directamente con el consumidor final a través de una App, que busca
        innovar los mecanismos tradicionales del abastecimiento de la canasta familiar
        en los hogares, generando una oportunidad de negocio a nuestros consumidores a través de la venta
        directa y mercadeo en red, con un enfoque social reflejado en nuestro sector rural.
      </div>
    </div>

    <div class="col m3 l4 center" id="m">
      <div class="feature-icon"></div>
      <div class="feature-title">
        <h5 class="quienes">VALORES Y PRINCIPIOS</h5>
      </div>
      <div class="feature-description" id="vis"><strong>Los valores de All in App son:</strong><br>-Servicio.<br>-Respeto.<br>-Confianza.<br>-Lealtad.<br>-Honestidad.<br>-Responsabilidad.<br><strong>Los
        principios de All in App son:</strong><br>-Tratar a todas las personas como quiero ser
        tratado.
        <br>-Desarrollar al máximo el talento humano.<br>-Trabajo en equipo.<br>-Impulsar al progreso de nuestra
        comunidad.
      </div>
    </div>

    <div class="col l3 center" id="v">
      <div class="feature-icon"></div>
      <h5 class="quienes">VISIÓN</h5>
      <div class="feature-description vis">La visión de All in App es para los próximos 3 años, cautivar por
        encima de la competencia, la lealtad de los consumidores de cada una de nuestras sedes, la preferencia
        de nuestros proveedores rurales y urbanos y el orgullo de los empleado
        y accionistas. Consolidarnos como una empresa solida con participación de las marcas comerciales
        propias.
      </div>
    </div>

  </div>

</div>

<mat-video [autoplay]="true" [preload]="true" [download]="false" color="accent" spinner="dot" poster="image.jpg">
  <source matVideoSource src="../../../assets/video/video.mp4" type="video/mp4">
</mat-video>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="col s12 m4 l4">
          <div class="icon-block">

            <p class="light center"><img src="../../../assets/icons/logo_all_app2.svg" width="90" height="90"
                                         class="lg"><br>Somos una tienda online multinivel, que conecta al
              productor primario con el consumidor final.</p>
          </div>
        </div>

        <div class="col s12 m4 l4 message-center">
          <div class="icon-block child-message-center">
            <h2 class="center brown-text"><i class="material-icons feature-icon">local_mall</i></h2>
            <p class="light center p-l">Innovamos los mecanismos tradicionales de abastecimiento de la
              canasta familiar en los hogares Colombianos.</p>
          </div>
        </div>

        <div class="col s12 m4 l4">
          <div class="icon-block">
            <h2 class="center brown-text p-f"><i class="material-icons feature-icon">store</i></h2>
            <p class="light center">1 año para cautivarte por encima de nuestra competencia.<br>3 años para
              demostrarte nuestra lealtad<br> y toda una vida para ser tu tienda de confianza.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- parallax of the fruit and the motto of All in App  -->
<div class="parallax-container valign-wrapper" id="paralax">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row">
        <h5 class="header light" id="question">¡ Pregunta por nuestra <br>oportunidad de negocio !</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../../assets/img/img-parallax2.png" alt="Unsplashed background img 3"></div>
</div>


<footer class="page-footer foter grey lighten-5" style="margin-top:0px;padding-left:0px;" id="contact">
  <div class="footer">

    <h4 class="elegance footer-info black-text">¿Mas informacion? contactanos<br></h4> <a href="#!"
                                                                                          class="btn elegance btn-contact red darken-4 z-depth-3"
                                                                                          [routerLink]="['/contacto']">Contactar</a>


  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">

        <div class="col s6 m4 l4 borde valign-wrapper center">
                    <span class="black-text text-footer valign">© 2018 <a href="../index.php" class="black-text"
                                                                          target="_blank">All in App</a></span>
        </div>

        <div class="col s6 m4 l4 borde valign-wrapper center">

          <div style="margin-left: 4em;">
            <img src="../../../assets/png/i-facebook.png" class="img-footer">
            <img src="../../../assets/png/i-whatsapp.png" class="img-footer">
            <img src="../../../assets/png/i-youtube.png" class="img-footer">
          </div>
        </div>
        <!--<a class="white-text right" href="http://www.android-kiosk.com/privacy-and-cookie-policy/">Privacy &amp; Cookies Policy</a>-->
        <a href="//www.iubenda.com/privacy-policy/7904956"
           class="iubenda-nostyle no-brand iubenda-embed black-text right" title="Privacy Policy"></a>
        <script type="text/javascript" src="//cdn.iubenda.com/iubenda_i_badge.js"></script>

      </div>
    </div>
  </div>
</footer>