<br><br><br><br>
<div class="container z-depth-2 center login" col s12 m12 l12 style="border: 1px solid #e0e0e0;">
  <div style="margin:15px 0;">
    <a href="#!"><img src="assets/png/LOGOAIA.png" height="100" width="100"></a>
  </div>
  <form [formGroup]="formLoginGeneral" (ngSubmit)="onSubmit()">
    <div class="input-field col s12">
      <input type="password" style="width: 80%;" placeholder="Contraseña:" [formControl]="formLoginGeneral.controls['passwordAlternative']">
    </div>
    <input class="waves-effect waves-teal btn-flat blue white-text" value="Ingresar" type="submit">
  </form>
  <div class="divider" style="margin: 20px 0;"></div>
  <div class="col s12 center">
    <a *ngIf="message" class="red-text">{{message}}</a>
  </div>
  <div class="col s12 white-text">.</div>
  <!--  <a href="../home.html">Crear cuenta</a>  -->
</div>