
.rounded{
    font-family: rounded;
}

#body-left {}

.borde {
    border: 1px solid lightgrey;
}

#body-collapse {
    width: 20%;
    float: left;
}

#body-content {
    float: left;
    width: 80%;
}

#collapse {
    margin-top: -0.4%;
}

.collapsible-body {
    height: 17px!important;
    position: relative;
}

.collapsible-body:hover {
    background: blue;
    color: white;
}

input{
    border: 1px solid grey!important;
    border-radius: 4px!important;
}

span {
    position: absolute;
    top: 21%;
    left: 17%;
}