#menu {
    position: fixed;
    height: 77px;
    z-index: 7;
}

#logo {
    margin-top: 0.2em;
    height: 67px;
    width: 67px;
}

a{
    cursor: pointer;
}

#nav_bar {
    height: 84px;
}

.close-know-me {
    font-size: 27px;
    color: white;
    margin-top: 0.2em;
    margin-right: 0.7em;
    text-align: center;
    background: #e53935;
}

#options {
    z-index: 2;
    display: none;
    height: 777px;
    width: 100%;
    position: fixed;
    top: 81px;
    left: 0px;
    background: #ffffff;
    opacity: 0.97;
}

#docs {
    z-index: 2;
    display: none;
    height: 777px;
    width: 100%;
    position: fixed;
    top: 81px;
    left: 0px;
    background: #ffffff;
    opacity: 0.97;
}

#perfil-panel {
    z-index: 100!important;
    display: none;
    position: fixed;
    top: 75.7px;
    left: 0px;
    opacity: 0.97;
}

.cardRead{
    height: 237px;
}

.car{
    width: 303.13px;
    height: 403.5px;
}

#perfil-panel{
    z-index: 2;
    display: none;
    position: fixed;
    top: 77.7px;
    left: -0.7%;
    opacity: 0.97;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

input {
    border: 0.7px solid grey!important;
    border-radius: 4px!important;
}

select {
    border: 0.7px solid grey!important;
    border-radius: 4px!important;
    margin-top: 0.2em;
}

#searchProduct {
    border: 1px solid lightgrey;
    width: 400px;
    border-radius: 4px;
    background: white;
    color: black;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}

@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    to {
        transform: none;
    }
}

.bounceInRight {
    animation-name: bounceInRight;
}

@keyframes bounceOutRight {
    20% {
        opacity: 1;
        transform: translate3d(-20px, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
}

.bounceOutRight {
    animation-name: bounceOutRight;
}

input {
    border: 0.7px solid grey!important;
    border-radius: 4px!important;
}

select {
    border: 0.7px solid grey!important;
    border-radius: 4px!important;
    margin-top: 0.2em;
}

#searchProduct {
    border: 1px solid lightgrey;
    width: 400px;
    border-radius: 4px;
    background: white;
    color: black;
}
