<nav class="orange darken-3" id="menu">
  <div class="nav-wrapper">
    <a class="brand-logo left" id="body-logo"><img src="../../assets/png/new-logo.png" id="logo" [routerLink]="['/businnessman']"></a>
    <ul class="hide-on-med-and-down">
      <li class="left" id="cart-body-icon"><a class="black-text carro-modal cesta-view" (click)="openCart()"><i class="material-icons white-text left">shopping_cart</i><small class="w3">Articulos({{totalUnits}})
      Total({{totalPurchase | number}})</small></a></li>
      <li class="right"><a class="black-text invoice-modal invoice-view" (click)="openInvoice()"><i class="material-icons left white-text">content_paste</i><span class="w3-invoice">Tu factura ({{totalInvoice}})</span></a></li>
      <li class="center"><input type="search" id="searchProduct" class="searchProduct" [(ngModel)]="buscador" placeholder=" Buscar..." (click)="openSearch()"></li>
      <li class="left">

        <select class="browser-default rounded" id="categories-home"
                (change)="seeCategory($event)">
          <option value="">Categorias disponibles</option>
          <option *ngFor="let i of listcategories" value="{{i.identity.low}}">{{i.properties.categoria}}
          </option>
        </select>

      </li>
    </ul>
  </div>
</nav>

<div class="container movil white">
  <br>
  <a href="#" id="menu-movil" data-target="slide-out" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
  <div class="row">
    <div class="col s9 m9 l9 center">
      <input type="search" id="searchProductMovil" class="searchProduct" [(ngModel)]="buscador"
             placeholder="Buscar..." (click)="openSearchMovil()">
    </div>
    <div class="col s3 m3 l3">
      <a class="black-text carro-modal cesta-view" [routerLink]="['/cartBusinessman']">
        <i class="material-icons black-text left">shopping_cart</i>
        <small class="w3">({{totalUnits}})</small>
        <br>
        <span id="total" style="color: black!important;">{{totalPurchase |number}}</span>
      </a>
    </div>
  </div>
</div>
<!--
<div class="container" id="body-categories">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="col s12 m3 l3 center body-text-category">
                <h5 class="t-category-todos">TODOS</h5>
            </div>
            <div class="col s12 m3 l3 center body-text-category">
                <h5 class="t-category">NO COMISIONABLES</h5>
            </div>
            <div class="col s12 m3 l3 center body-text-category">
                <h5 class="t-category-comisionable">COMISIONABLES</h5>
            </div>
            <div class="col s12 m3 l3 center body-text-category">
                <h5 class="t-category-servicios">SERVICIOS</h5>
            </div>
        </div>
    </div>
</div>
-->


<div class="container" id="body-slider">
  <div class="row">
    <!--
            <div class="col s12 m4 l4">
                <ul class="collection with-header" id="body-list">
                    <li class="collection-header orange darken-3" style="height: 77px;"><br>
                        <span class="white-text p">2 unidad - 50% chocolate nestle</span>
                    </li>
                    <li class="collection-item t-list">
                        <span class="title p"><br>Aire acondicionado OLIMPO Inverter 24000B 220V - MQOW</span>
                    </li>
                    <li class="collection-item t-list">
                        <span class="title p"><br>Televisor QLED SAMSUNG 139Cm 55" - QN55Q Smartv</span>
                    </li>
                    <li class="collection-item t-list">
                        <span class="title p"><br>Celular HUAWEI Y7 Prime - 5,5" - 32GB - Gris"</span>
                    </li>
                    <li class="collection-item t-list">
                        <span class="title p"><br>olchón MISTRAL - YORK- Resortado - 100 x 190</span>
                    </li>
                    <li class="collection-item t-list">
                        <span class="title p"><br>Licuadora OSTER - 6806 Vaso de Vidrio - Blanca</span>
                    </li>
                </ul>
            </div>
    -->
    <div class="col s12 m12 l12">
      <div class="slider" id="slider">
        <ul class="slides">
          <li>
            <img src="../../assets/img/slider-photos/allinapps.jpg"> <!-- random image -->
            <div class="caption center-align">
              <h3></h3>
              <h4 class="title-h3"><br><br><br>Lomo fino, Costilla esp, Carne molida esp hoy al <strong>30% de descuento</strong>.</h4>
            </div>
          </li>

          <li>
            <img src="../../assets/img/slider-photos/allinapps1.jpg"> <!-- random image -->
          </li>

          <li>
            <img src="../../assets/img/slider-photos/verduras-y-frutas.jpg"> <!-- random image -->
          </li>

          <li>
            <img src="../../assets/img/slider-photos/cafe.jpg">
          </li>

          <li>
            <img src="../../assets/img/slider-photos/frutas.jpg">
            <!-- random image -->
            <div class="caption right-align"><br><br><br>
              <h3>Las frutas mas frescas</h3>
              <h4 class="title-h3">del campo a tu mesa.</h4>
            </div>
          </li>

          <li>
            <img src="../../assets/img/slider-photos/cereal.jpg">
            <!-- random image -->
            <div class="caption left-align">
              <h3>Cereales</h3>
              <h4 class="white-text title-h3">del campo a tu mesa.</h4>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container" id="body-banner">
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="col s12 m12 l12">
        <img src="../../assets/img/banner-store/licor.jpg" id="banner-one-img">
      </div>
    </div>
    <div class="col s12 m3 l3">
      <img src="../../assets/img/banner-store/molto.png" class="banner-two-img">
    </div>
    <div class="col s12 m3 l3">
      <img src="../../assets/img/banner-store/bono.jpg" class="banner-two-img">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 center">
      <h5>ALL IN APP TU CENTRO COMERCIAL ONLINE</h5>
      <div class="col s12 m12 l12">
        <div class="col s5 m5 l5 white-text">.</div>
        <div class="col s2 m2 l2">
          <div class="progress red darken-4">
            <div class="indeterminate red darken-1"></div>
          </div>
        </div>
        <div class="col s5 m5 l5 white-text">.</div>
      </div>
    </div>

    <div class="col s12 m12 l12 center">
      <p>
        <strong>Del mercado a tu casa, es facil. Registrate para empezar hacer la compra facil</strong> y dedicale tiempo a lo que de verdad importa. Visita nuestro catalogo donde encontraras todas las marcas y las ventajas de hacer la compra con nosotros, Actualizamos todos los dias nuestros precios para que te encuentres siempre las mejores ofertas. <strong>Repartimos hasta 23 Hr y si lo prefieres puedes pagar directamente al repartidor, tú elijes.</strong>
      </p>
    </div>

    <div class="col s12 m12 l12"></div>
    <div class="col s12 m6 l6" id="body-ver-producto">
      <button class="btn red darken-4 white-text" id="content-ver-producto" *ngIf="false">Ver producto</button>
      <img src="../../assets/img/banner-store/fruit.jpg" class="banner-three-img">
    </div>
    <div class="col s12 m6 l6">
      <img src="../../assets/img/banner-store/belleza.jpeg" class="banner-three-img">
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 center">
      <h4>NUESTROS PRODUCTOS</h4>
    </div>
  </div>
</div>


<div class="search-results" infiniteScroll [infiniteScrollThrottle]="50" [scrollWindow]="true" (scrolled)="onScroll()">

  <div class="container" style="width: 100%;">
    <div class="row">

      <div class="col s11 m12 l11 white-text" style="width: 89.7%!important; margin-left: 7%;">

        <div class='col s12 m2 l3 item' *ngFor="let item of products" style="width: 277px!important;">
          <img src="../../assets/img/etiqueta-naranja.png" class="etiqueta">
          <div class='card car'>
            <div class='card-image waves-effect waves-block waves-light'>
              <a href='#'>
                <img src='../../assets/img/img-small/{{item.properties.photo}}' alt='item-img'>
              </a>
            </div>

            <div class='card-content'>
              <div class='row'>

                <a class='quitar' (click)="removeQuantity(item.properties.code)">
                  <div class='col s4 center btn btn-b'><i class='material-icons'>remove</i></div>
                </a>
                <div class='col s4 center' style='border:1px solid lightgrey; height:27px;'>
                  <input type='number' [(ngModel)]="quantity[item.properties.code]" class='cajaInput'
                         readonly>
                </div>
                <a class='agregar' (click)="addQuantity(item.properties.code)">
                  <div class='col s4 center btn btn-b'><i class='material-icons'>add</i></div>
                </a>

                <div class="col s12">
                  <div class="p-detalle">
                    <p>{{item.properties.title}}</p>
                  </div>

                  <div class='col s6 precios-valor'>{{item.properties.priceventa}}</div>
                  <div class='col s6 precios-valor'><span class='discount'>%{{item.properties.pricediscount}}</span>
                  </div>
                  <div class='col s6 precios-valor'><s class='s-title'>{{item.properties.pricediscount != 0?item.properties.pricefinal:item.properties.priceventa}}</s>
                  </div>
                  <div class='col s6 precios-valor'></div>

                </div>

                <div class="col s12">
                  <ul class='card-action-buttons'>
                    <li>
                      <a class='btn-floating waves-effect cyan idPro'
                         (click)="addCart(item.properties.code)">
                        <i class='material-icons'>add_shopping_cart</i>
                      </a>
                      <a class='btn-floating btn-large waves-effect waves-light red accent-2 center'
                         title='Valor en Puntos'>
                        {{item.properties.points}}
                        <small style='font-size: 9px;'>Ptos</small>
                      </a>
                      <a class='btn-floating waves-effect waves-light deep-orange accent-2'
                         title='Detalles'>
                        <i class='material-icons activator'>info_outline</i>
                      </a>
                    </li>
                  </ul>
                </div>


              </div>
            </div>
            <div class='card-reveal'>
                            <span class='card-title grey-text text-darken-4'>
                            <i class='material-icons right'>close</i> {{item.title}}</span>
              <p>{{item.descriptionSmall}}</p>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cart-body" id="cart-body">
  <div class="vista-cesta" id="vista-cesta">
    <div class="container" id="container-cart">
      <div class="row">
        <div class="col s12 scroll-cesta">
          <table class="responsive-table">
            <thead>
            <tr>
              <th class="center th">Codigo</th>
              <th class="center th">Producto</th>
              <th class="center th">Precio</th>
              <th class="center th">Puntos</th>
              <th class="center th">Total</th>
              <th class="center th">Unidades o Libra</th>
              <th class="center th">Eliminar</th>
            </tr>
            </thead>
            <tbody class="content-carrito">

            <tr *ngFor="let item of cartContent">
              <td class="center">
                <small>{{item.refProduct}}</small>
              </td>
              <td class="center">
                <small>{{item.title}}</small>
              </td>
              <td class="center">{{item.value | number}}</td>
              <td class="center">
                <small></small>
                {{item.points | number}}
              </td>
              <td class="center">{{(item.totalUnits * item.value) | number}}</td>
              <td class="center" style="width: 177px;">
                <div class="col s12">
                  <a class='quitar' (click)="removeUnits(item.refProduct)">
                    <div class='col s3 center btn btn-small red darken-1'><i class='material-icons'>remove</i>
                    </div>
                  </a>
                  <div class='col s5 center' style='border:1px solid lightgrey; height:27px;'>
                    <input type='number' [(ngModel)]="unitSmall[item.refProduct]"
                           class='cajaInputSmall' readonly>
                  </div>
                  <a class='agregar' (click)="addUnits(item.refProduct)">
                    <div class='col s3 center btn btn-small red darken-1'><i class='material-icons'>add</i></div>
                  </a>
                </div>
              </td>
              <td class="center">
                <a class="waves-effect waves-light btn-small delete-article color-icon red darken-1"
                   (click)="deleteProduct(item.refProduct)"><i class="material-icons left white-text">delete</i></a>
              </td>
            </tr>
            <tr *ngIf="cartContent.length == 0">
              <td colspan='7' style="text-align: center;"><br><br>
                <img src="../../assets/img/carrito_vacio.png">
              </td>
            </tr>
            </tbody>
          </table>
          <br>
        </div>
        <div class='col s6 m6 l6'>

          <div class="col s12 m4 l4 divPerform">
            <button class="btn white-text btn-confirm-pending btn-confirm" [disabled]="buttons" (click)="performPurchase()">Realizar Pedido</button>
          </div>
          <div class="col s12 m4 l4 divCancel">
            <button class="btn white-text btn-pedidos btn-confirm" [disabled]="buttons" (click)="canceledPurchase()">Cancelar Pedido</button>
          </div>
          <div class="col s12 m4 l4 divCancel">
            <button class="btn white-text btn-pedidos btn-confirm" (click)="openInvoice()">Pagar factura</button>
          </div>

        </div>

        <div class="col s12 m3 l3 textPrice">
          <p class="totalCompra">Total de la Compra: {{totalPurchase |number}}

          </p>
        </div>
        <div class="col s12 m2 l2 textDots">
          <p class="totalPuntos">Total de Puntos: {{totalPoints | number}}

          </p>
        </div>
        <div class="col s12 m12 l12 center">
          <h5>{{message}}</h5>
        </div>
        <div class='col s12 m12 l12 alt right-align'><a (click)="openCart()"
                                                        class="close-know-me btn-floating z-depth-2 cesta-view orange darken-3">x</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="cart-body" id="searchPro">
  <div class="vista-cesta">
    <div class="container" style="width: 100%!important;">
      <div class="row">
        <div class="col s12 m12 l12 center">
          <h5 class="rouded">Que producto deseas buscar...</h5>
          <div class='col s1 m1 l1 alt right' style="margin-top: -4.3%;"><a (click)="openSearch()"
                                                                            class="close-know-me btn-floating z-depth-2 cesta-view red">x</a>
          </div>
        </div>
        <div class="col s12 m12 l12 divider">.</div>
        <div class="col s12 m12 l12" style="margin-left: 5%;">
          <div class='col s12 m2 l3 item' *ngFor="let item of listaprodAux|searchProduct:buscador" style="width: 277px!important;">
            <img src="../../assets/img/etiqueta-naranja.png" class="etiqueta">
            <div class='card car'>
              <div class='card-image waves-effect waves-block waves-light'>
                <a href='#'>
                  <img src='../../assets/img/img-small/{{item.photo}}' alt='item-img'>
                </a>
              </div>

              <div class='card-content'>
                <div class='row'>

                  <a class='quitar' (click)="removeQuantity(item.code)">
                    <div class='col s4 center btn btn-b'><i class='material-icons'>remove</i></div>
                  </a>
                  <div class='col s4 center' style='border:1px solid lightgrey; height:27px;'>
                    <input type='number' [(ngModel)]="quantity[item.code]" class='cajaInput'
                           readonly>
                  </div>
                  <a class='agregar' (click)="addQuantity(item.code)">
                    <div class='col s4 center btn btn-b'><i class='material-icons'>add</i></div>
                  </a>
                  <div class="col s12">
                    <div class="p-detalle">
                      <p>{{item.title}}</p>
                    </div>

                    <div class='col s6 precios-valor'>{{item.priceventa}}</div>
                    <div class='col s6 precios-valor'><span class='discount'>%{{item.pricediscount}}</span>
                    </div>
                    <div class='col s6 precios-valor'><s class='s-title'>{{item.pricediscount != 0?item.pricefinal:item.priceventa}}</s>
                    </div>
                    <div class='col s6 precios-valor'></div>

                  </div>

                  <div class="col s12">
                    <ul class='card-action-buttons'>
                      <li>
                        <a class='btn-floating waves-effect cyan idPro'
                           (click)="addCart(item.code)">
                          <i class='material-icons'>add_shopping_cart</i>
                        </a>
                        <a class='btn-floating btn-large waves-effect waves-light red accent-2 center'
                           title='Valor en Puntos'>
                          {{item.points.low}}
                          <small style='font-size: 9px;'>Ptos</small>
                        </a>
                        <a class='btn-floating waves-effect waves-light deep-orange accent-2'
                           title='Detalles'>
                          <i class='material-icons activator'>info_outline</i>
                        </a>
                      </li>
                    </ul>
                  </div>


                </div>
              </div>
              <div class='card-reveal'>
                            <span class='card-title grey-text text-darken-4'>
                            <i class='material-icons right'>close</i> {{item.title}}</span>
                <p>{{item.descriptiondetailed}}</p>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="view-invoices" id="view-invoices">
  <div class="container content">
    <div class="row">

      <div class='col s12 alt right-align'><a (click)="openInvoice()" class="close-know-me btn-floating z-depth-2 invoice-view orange darken-3">x</a></div>
      <div class="col s12 body-invoices">


        <div class="col s12 m3 l2 invoice-body" *ngFor="let item of invoices">
          <div class="card">
            <div class='card-image waves-effect waves-block waves-light'>
              <a href='#!'>
                <img width='305' height='229' src='assets/png/Documento-PDF.png'
                     class='responsive-img wp-post-image' alt='Ten Belles'
                     title='Ten Belles'
                     srcset='../../assets/png/Documento-PDF.png 305w, ../../assets/png/Documento-PDF.png 300w, ../../assets/png/Documento-PDF.png 768w, ../../assets/png/Documento-PDF.png 800w'
                     sizes='(max-width: 305px) 100vw, 305px'>
              </a>
            </div>
            <div class='card-content'>
              <a class="btn orange darken-3 darken-4 titulo btn-payments" (click)="paymentInvoice(item.idInvoice)">Pagar</a>
              <br> Factura de compra<br>Fecha: {{item.date}}<br>Estado: {{item.stateDetail == 'deuda'? 'Sin pagar': 'Pagado'}}
              <br>Total: {{item.totalPurchase | number}}<p class='area'>
              <a class='btn-floating btn-small waves-effect waves-light orange darken-3 left titulo' [routerLink]="['/visibilityInvoice/', item.idInvoice.low]">
                <i class='tiny material-icons'>visibility</i></a>
              <a class='btn-floating btn-small waves-effect waves-light orange darken-3 left titulo poss' style="margin-left: 3.4em;" (click)="deleteInvoiceId(item.idInvoice)" >
                <i class='tiny material-icons'>delete_forever</i></a>
            </p>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l12 center" *ngIf="pngInvoices">
          <h1 class="rounded">No tienes facturas pendientes</h1>
          <img src="../assets/img/factura.png">
        </div>
      </div>

    </div>
  </div>
</div>


<!-- menu movil -->
<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="../../../assets/img/home-movil.jpg">
      </div>
      <a href="#user"><img class="circle" src="../../../assets/img/logo_all_app.png"></a>
      <span class="white-text name">Del campo a tu mesa</span>
      <span class="white-text email">comercial@allinapp.com.co</span>
    </div>
  </li>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">shop</i>Categorias</div>
      <div class="collapsible-body" *ngFor="let i of listcategories">
        <span class="title-category" (click)="sideMenuCategory(i.identity.low)"> {{i.properties.categoria}}</span>
      </div>
    </li>
  </ul>
  <li><a [routerLink]="['/InvoicesFromTheStoreBusinessman']"><i class="material-icons">content_copy</i>Pagar compra</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a [routerLink]="['/businnessman']"><i class="material-icons">exit_to_app</i>Salir</a></li>
  <li>
    <div class="divider"></div>
  </li>
</ul>

<div class="cart-body searchMovil" id="searchProMovil">
  <div class="vista-cesta">
    <div class="container" style="width: 100%!important;">
      <div class="row">
        <div class="col s12 m12 l12 center">
          <div class='col s1 m1 l1 alt right' style="margin-top: -4.3%;margin-left: -17%!important;"><a (click)="openSearchMovil()"
                                                                                                        class="close-know-me btn-floating z-depth-2 cesta-view teal-background">x</a>
          </div>
        </div>
        <div class="col s12 m12 l12 divider">.</div>
        <div class="col s12 m12 l12" style="margin-left: 5%;">
          <div>
            <ul class="collection" style="margin-left: -7%">
              <li class="collection-item" *ngFor="let item of listaprodAux|searchProduct:buscador">
                <div [routerLink]="['/detailBusinessman/', item.code]">{{item.title}}<a href="#!" class="secondary-content"><i class="material-icons">search</i></a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


